.formBack{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000000;
    font-family: Roboto;
    font-style: normal;
}

.formBack > h1{
    margin-top: -2em;
}

.item {
    display: flex;
    flex: 1;
    width: 100%;
}

.formReg{
    height:auto;   
}

.formReg > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.formBox{
    background: white;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 100%;
    max-width: 810px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 10px 10px ;
}


.formBack > .formBox > .formReg .formBtn{
    text-align: center;
    margin: 15px auto;
    max-width: 360px;
    width: 100%;
    height: 40px;
}

.BtnToModal{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    max-width: 360px;
    width: 100%;
}
 .formLink{
    text-decoration-line: underline;
    margin: 10px 0;
}
.formBack > .formBox > .formReg .formBtn > button{
    margin:0 auto;
    max-width: 360px;
    width: 100%;
    height: 40px;
}

.formBack > .formBox > .formReg > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.formBack > .formBox > .formReg .formAtr{
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.formAtr > div{
    font-size: small;
    color: red;
    overflow: hidden;
}
.formAtr > div::before{
    display: inline;
    content: "⚠ ";
}
.formBack > .formBox > .formReg .formAtr> label{
    margin: 5px;
}
.formBack > .formBox > .formReg .formAtr > input{
    background: rgba(102, 102, 102, 0.2);
    border: 1px solid rgba(102, 102, 102, 0.5);
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    height: 40px;
    width: 300px;
}

.formBack > .formBox > .formReg .formAtr > select{
    background: rgba(102, 102, 102, 0.2);
    border: 1px solid rgba(102, 102, 102, 0.5);
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    height: 40px;
    width: 300px;
    margin-top: 5px;
}


.modalHeader{
    justify-content: center!important;
}

.modalBtn{
    border-radius: 10px !important;
    filter: drop-shadow(0px 0px 5px rgba(112, 102, 102, 0.3));
    font-size: large;
    background-color: rgba(146, 135, 135, 0.527);
}

.modalFormBtn{
    width: 180px;
    border-radius: 10px !important;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
}
.modalReg {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.modalReg > .modalButtons{
    display: flex;
    justify-content: center;
}

.modalReg > .formAtr{
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.modalReg input{
    background: rgba(102, 102, 102, 0.2);
    border: 1px solid rgba(102, 102, 102, 0.5);
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    height: 40px;
    max-width: 400px;
    width: 100%
}

.modalReg textarea{
    background: rgba(102, 102, 102, 0.2);
    border: 1px solid rgba(102, 102, 102, 0.5);
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    height: 130px;
    max-width: 400px;
    width: 100%
}

@media(max-width: 1000px){

    .item{
        flex-direction: column;
    }


    .formBox{
        height: 100%;
    }   

    .formReg > div{
        display: flex;
        flex-direction: column;
    }


    .formBack > .formBox > .formReg  .formAtr > input{

        width: 100%;
    }

}

@media(max-width: 505px){

    .formBox{
        padding: 0 10px;
    }   
    
    .formBack > .formBox > .formReg  .formAtr > input{
    
        width: 100%;
    }
    
    .formBack > .formBox > .formReg .formBtn{
        max-width: 200px;

    }

    .BtnToModal{
        max-width: 200px;
        width: 100%;
    }

}
    
.DivBotao{
    float:right; 
    display: flex;
    margin: 5px auto; 
    color: black; 
    padding: 10px; 
    font-size: 18px; 
    line-height: 25px;
}