.close-button{
    display: flex;
    color: black; 
    width: 2em;
    align-self: right;
    justify-content: center;
    justify-self: flex-end;
    border-radius: 1em;
}

.input-button{
    width: 5em;
    border-radius: 5px;
    background-color: #e5e5e5;
}

.input-modal{
    background: #e5e5e5;
    border: 1px solid rgba(102, 102, 102, 0.5);
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    margin: 1em;
}

.tarefa-modal{
    background-color: rgba(207, 188, 188, 0.9) !important;
    display: none;
    color: black;
    height: 32em;
    flex-direction: column;
    align-content: center;
    margin-top: -1em;
    position: absolute;
    transform: translate(125%, -101%);
}