.ToDoList{
    background-color:WHITE;
    height: 35em;
    width: 18em;
    min-width: 5em;
    font-style: normal;
    justify-content: center;
    margin: 2em;
    overflow-y: scroll;
}

.listItem{
    flex-direction: column;
    border: 2px inset #c5c5c5;
    background-color: darkseagreen;
}

@media only screen and (max-device-width: 900px) {
    .ToDoList { width:90%; }
    }