.show{
    display: flex !important;
    position: absolute;
}

.Tarefas{
    display: flex;
    flex-direction: column;
    grid-template-columns: 1 3;
    width: 100%;
}
.colunas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 1em;
}

.colunas > div {
    height: 30em;
    position: relative;
    
}

.elementPhase1{
    background-color: darkseagreen;
    border: 2px inset gray;
}