.add-agenda{
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-agenda > button{
    margin-left: 1em;
}

.show{
    display: flex !important;
    position: absolute;
}

.agenda-modal{
    background-color: rgba(207, 188, 188, 0.9);
    display: none;
    color: black;
    flex-direction: column;
    align-content: center;
    margin-top: -1em;
    transform: translate(35%, 0%);
    font-weight: bolder;
    font-size: larger;
}

.close-button{
    display: flex;
    color: black; 
    width: 2em;
    align-self: right;
    justify-content: center;
    justify-self: flex-end;
    border-radius: 1em;
}

.agenda-button{
    width: 10em;
    border-radius: 5px;
    background-color: #e5e5e5;
}

.input-modal{
    background: #e5e5e5;
    border: 1px solid rgba(102, 102, 102, 0.5);
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    margin: 1em;
}

.mainCalendar {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 600px;
    background-color: #fafafa;
    border-radius: 30px;
    margin-top: 15px;
  }
  
  .calendarHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }
  
  .calendarGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 500px;
  }
  
  .button-calendar{
    background:none;
    border: 1px solid #666666;
    border-radius: 5px;
    height: 20px;
    width: 20px;
    justify-content: center;
  }
  
  .calendarHeader > h2 {
    font-size: 1.3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
  }
  
  .mainCalendar > h1{
    font-size: 1.8em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0066cc;
  }

  .grid-first-row{
    font-size: 1.3em;
    align-self: center;
    font-weight: bold;
  
  }
  .dayIn {
    font-size: 1.3em;
    font-weight: bold;
    color: #000000;
  }
  
  .dayOff {
    font-size: 1.3em;
    color: #666666;
  }
  
  .clickableDiv {
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none
  }
  
  .clickableDiv:hover{
    background-color: #e5e5e5;
  }
  
  .has_commitment {
    background-color: #c9e9c9;
  }
  .header {
    width: 100%;
    height: 40px;
  }

  @media only screen and (max-device-width: 900px) {
    .Agenda { width: 90%;
    margin: 5%;}
    .mainCalendar { width: auto;
    height: auto;}
    }