.edit-db{
    display: flex;
    transform: translate(50% 50%);
    border: 2px inset rgba(207, 188, 188, 0.9);
    width: 50%;
    flex-direction: row;
    border-radius: 1em;
}

.edit-db > button{
    height: 2em;
    transform: translate(0%, 50%);
    margin-right: 1em;
}

.show{
    display: flex !important;
    position: absolute;
}

.DB-modal{
    background-color: rgba(207, 188, 188, 0.9);
    display: none;
    color: black;
    flex-direction: column;
    align-content: center;
    margin-top: -1em;
    transform: translate(35%, 0%);
    font-weight: bolder;
    font-size: larger;
}

.close-button{
    display: flex;
    color: black; 
    width: 2em;
    align-self: right;
    justify-content: center;
    justify-self: flex-end;
    border-radius: 1em;
}

.DB-button{
    width: 10em;
    border-radius: 5px;
    background-color: #e5e5e5;
}

.input-modal{
    background: #e5e5e5;
    border: 1px solid rgba(102, 102, 102, 0.5);
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    margin: 1em;
}