.input-form{
    background: rgba(102, 102, 102, 0.2);
    border: 1px solid rgba(102, 102, 102, 0.5);
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    
}

.button-form{
    border-radius: 10px !important;
    filter: drop-shadow(0px 0px 5px rgba(112, 102, 102, 0.3));
    font-size: large;
    background-color: rgba(146, 135, 135, 0.527);
    margin-top: 2em;
}