.WaitingList{
    background-color:WHITE;
    height: 35em;
    width: 18em;
    min-width: 5em;
    margin: 2em;
    overflow-y: scroll;
}

.waiting-listItem{
    height: 8em;
    font-size: 12px;
    border: 2px inset #cccccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.waiting-info{
    flex-direction: column;
}

.btn-entrar-cancel{
    display: flex;
    flex-direction: column;
    justify-self: right;
}

.Cancel{
    background-color: tomato;
    width: 5em;
}

.Come-In{
    background-color: rgb(27, 112, 80);
    width: 5em;
}

.Entrar{
    background-color: rgb(155, 212, 97);
}

.Proximo{
    background-color:rgb(145, 195, 218);
}

.Andamento{
    background-color: orange;
}

.Aguardando{
    background-color: rgb(235, 235, 68);
}

.Cancelada{
    background-color: red;
}

.Concluida{
    background-color: gray;
}

@media only screen and (max-device-width: 900px) {
    .WaitingList { width:90%; }
    }