.WorkSpace{
    background-color: white;
    font-style: normal;
    height: 35em;
    border-radius: 1em;
}

.Evento{
    background-color: #afafaf;
    color: white;
    font-weight: bolder;
    border-radius: 1em;
}