.set-button{
    border-radius: 10px;
    filter: drop-shadow(0px 0px 5px rgba(112, 102, 102, 0.3));
    font-size: large;
    background-color: rgba(146, 135, 135, 0.527);
    margin-top: 2em;
}

.colunas > div > div > div{
    height: 25em;
}

.colunas > div > div {
    border: 2px inset black;
    
    overflow-y: scroll;
    
}

.box-title{
    height: 30em;
}

.colunas > div > h3 {
    height: 40px;
}