.Header{
    background-color: #E5E5E5;    
    display: flex;
    height: 140px;
}

.Nav{
    padding: 0;
    list-style: none;
    margin: auto;
}

.User{
    float: left;
    margin-left: 1em;
    margin-top: 1em;
    padding-left: 2em;
    border-left: 2px solid black; 
    height: 100px;
}

.Logo{
    float: right;
}

.ButtonMenu{
    margin: 2em 1em;
    height: 80px;
}

.menu{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;    
    color: black;
    font-weight: bolder;
}

.menu ul a:visited{
    color: black;
    text-decoration: none;
}

.menu ul a:hover{
    color: black;
}

@media only screen and (max-device-width: 900px) {
    .Header { width:100%; 
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;}
    .menu li { width: max-content;
    font-size: 15px; }
    .menu {padding-left: 2%;}
    .Nav {flex-direction: column;}
    .p-menubar.p-menubar-mobile-active .p-menubar-root-list {width: auto;}
    }