.container{
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}

input{
    padding: 10px;
    width: 350px;
    height: 40px;
    border: none;
    background: white;
    display: flex;
    flex-direction: row;
    border-radius: 3px;
    margin: 5px auto;
}

.btn-preset{
    padding: 10px;
    width: 180px;
    height: 40px;
    border-radius: 1em;
    background: #C4C4C4;
    color: black;
    margin: auto;
    font-weight: inherit;
    justify-content: center;
    font-size: 18px;
}

.loginAtr{
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.checkbox{
    z-index: 10;
}

h1, h2{
    font-weight: bold;
    color: black;
    text-align: center;
}